KP.Online.API/Web References/Other_WebService/OtherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OtherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1765/OtherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1765/OtherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1765/OtherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOtherService_CheckFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckFlights" />
  </wsdl:message>
  <wsdl:message name="IOtherService_CheckFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_CheckFlightsBy_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckFlightsBy" />
  </wsdl:message>
  <wsdl:message name="IOtherService_CheckFlightsBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckFlightsByResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFlights" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAll" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataDeparture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDeparture" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataDeparture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataArrival_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataArrival" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataArrival_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataArrivalResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTransfer" />
  </wsdl:message>
  <wsdl:message name="IOtherService_GetDataTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IOtherService_SaleQueueOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleQueueOnline" />
  </wsdl:message>
  <wsdl:message name="IOtherService_SaleQueueOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleQueueOnlineResponse" />
  </wsdl:message>
  <wsdl:portType name="IOtherService">
    <wsdl:operation name="CheckFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/CheckFlights" message="tns:IOtherService_CheckFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/CheckFlightsResponse" message="tns:IOtherService_CheckFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckFlightsBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/CheckFlightsBy" message="tns:IOtherService_CheckFlightsBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/CheckFlightsByResponse" message="tns:IOtherService_CheckFlightsBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/GetDataFlights" message="tns:IOtherService_GetDataFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/GetDataFlightsResponse" message="tns:IOtherService_GetDataFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/GetDataAll" message="tns:IOtherService_GetDataAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/GetDataAllResponse" message="tns:IOtherService_GetDataAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDeparture">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/GetDataDeparture" message="tns:IOtherService_GetDataDeparture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/GetDataDepartureResponse" message="tns:IOtherService_GetDataDeparture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataArrival">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/GetDataArrival" message="tns:IOtherService_GetDataArrival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/GetDataArrivalResponse" message="tns:IOtherService_GetDataArrival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/GetDataTransfer" message="tns:IOtherService_GetDataTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/GetDataTransferResponse" message="tns:IOtherService_GetDataTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleQueueOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtherService/SaleQueueOnline" message="tns:IOtherService_SaleQueueOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtherService/SaleQueueOnlineResponse" message="tns:IOtherService_SaleQueueOnline_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOtherService" type="tns:IOtherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckFlights">
      <soap:operation soapAction="http://tempuri.org/IOtherService/CheckFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFlightsBy">
      <soap:operation soapAction="http://tempuri.org/IOtherService/CheckFlightsBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFlights">
      <soap:operation soapAction="http://tempuri.org/IOtherService/GetDataFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAll">
      <soap:operation soapAction="http://tempuri.org/IOtherService/GetDataAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDeparture">
      <soap:operation soapAction="http://tempuri.org/IOtherService/GetDataDeparture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataArrival">
      <soap:operation soapAction="http://tempuri.org/IOtherService/GetDataArrival" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTransfer">
      <soap:operation soapAction="http://tempuri.org/IOtherService/GetDataTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleQueueOnline">
      <soap:operation soapAction="http://tempuri.org/IOtherService/SaleQueueOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtherService">
    <wsdl:port name="BasicHttpBinding_IOtherService" binding="tns:BasicHttpBinding_IOtherService">
      <soap:address location="http://localhost:1765/OtherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>