KP.Online.API/Web References/Other_WebService/OtherService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1765/OtherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" />
  <xs:import schemaLocation="http://localhost:1765/OtherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CheckFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fight_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="CheckFlightsResult" nillable="true" type="q1:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFlightsBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fight_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fight_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFlightsByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="CheckFlightsByResult" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fight_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetDataFlightsResult" nillable="true" type="q3:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetDataAllResult" nillable="true" type="q4:FlightsAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDeparture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDepartureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetDataDepartureResult" nillable="true" type="q5:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataArrival">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataArrivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetDataArrivalResult" nillable="true" type="q6:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTransfer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetDataTransferResult" nillable="true" type="q7:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleQueueOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airport_code" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="terminal" type="q8:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleQueueOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="SaleQueueOnlineResult" nillable="true" type="q9:ArrayOfSaleQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>