KP.Online.API/Web References/Other_WebService/OtherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirlineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUp" nillable="true" type="tns:PickUp" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="tns:FlightTime" />
      <xs:element minOccurs="0" name="WeekDays" nillable="true" type="tns:ArrayOfFlightWeekDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="PickUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MapImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickUp" nillable="true" type="tns:PickUp" />
  <xs:complexType name="FlightTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time24" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeAMPM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightTime" nillable="true" type="tns:FlightTime" />
  <xs:complexType name="ArrayOfFlightWeekDays">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightWeekDays" nillable="true" type="tns:FlightWeekDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightWeekDays" nillable="true" type="tns:ArrayOfFlightWeekDays" />
  <xs:complexType name="FlightWeekDays">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightWeekDays" nillable="true" type="tns:FlightWeekDays" />
  <xs:complexType name="FlightsAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="tns:ArrayOfFlight" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="tns:ArrayOfFlight" />
      <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:ArrayOfFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightsAll" nillable="true" type="tns:FlightsAll" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="ArrayOfSaleQueue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleQueue" nillable="true" type="tns:SaleQueue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleQueue" nillable="true" type="tns:ArrayOfSaleQueue" />
  <xs:complexType name="SaleQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="details" nillable="true" type="tns:ArrayOfDetailSaleQueue" />
      <xs:element minOccurs="0" name="qty" type="xs:decimal" />
      <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleQueue" nillable="true" type="tns:SaleQueue" />
  <xs:complexType name="ArrayOfDetailSaleQueue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailSaleQueue" nillable="true" type="tns:DetailSaleQueue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailSaleQueue" nillable="true" type="tns:ArrayOfDetailSaleQueue" />
  <xs:complexType name="DetailSaleQueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailSaleQueue" nillable="true" type="tns:DetailSaleQueue" />
</xs:schema>