KP.Online.API/Web References/Order_WebService/SaleOrderService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://kpd-api1.kingpower.com/OrderWCF/SaleOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" />
  <xs:element name="ValidateAllowSaleOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airport_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flight_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAllowSaleOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="ValidateAllowSaleOnlineResult" nillable="true" type="q1:SaleAmountByPassport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="order" nillable="true" type="q2:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="SaveOrderOnlineResult" nillable="true" type="q3:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderOnlineJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderOnlineJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="SaveOrderOnlineJsonResult" nillable="true" type="q4:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoleOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoleOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="HoleOrderOnlineResult" nillable="true" type="q5:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="CancelOrderOnlineResult" nillable="true" type="q6:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="VoidOrderOnlineResult" nillable="true" type="q7:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="CompleteOrderOnlineResult" nillable="true" type="q8:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetOrderOnlineResult" nillable="true" type="q9:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnlineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airport_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnlineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="GetOrderOnlineListResult" nillable="true" type="q10:ArrayOfOrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusOrderOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusOrderOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" minOccurs="0" name="UpdateStatusOrderOnlineResult" nillable="true" type="q11:OrderSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>