KP.Online.API/Web References/SaleOrder_WebService/SaleOrderService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.0.121:8087/SaleOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SaleAmountByPassport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alcohol" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaleAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tobacco" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleAmountByPassport" nillable="true" type="tns:SaleAmountByPassport" />
  <xs:complexType name="OrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Billing" nillable="true" type="tns:Billing" />
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItemSKU" />
      <xs:element minOccurs="0" name="NewOrder" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHeader" nillable="true" type="tns:OrderHeader" />
  <xs:complexType name="Billing">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billing" nillable="true" type="tns:Billing" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirlineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureAirport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickUp" nillable="true" type="tns:PickUp" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="tns:FlightTime" />
      <xs:element minOccurs="0" name="WeekDays" nillable="true" type="tns:ArrayOfFlightWeekDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="PickUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MapImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickUp" nillable="true" type="tns:PickUp" />
  <xs:complexType name="FlightTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time24" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeAMPM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightTime" nillable="true" type="tns:FlightTime" />
  <xs:complexType name="ArrayOfFlightWeekDays">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightWeekDays" nillable="true" type="tns:FlightWeekDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightWeekDays" nillable="true" type="tns:ArrayOfFlightWeekDays" />
  <xs:complexType name="FlightWeekDays">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightWeekDays" nillable="true" type="tns:FlightWeekDays" />
  <xs:complexType name="ArrayOfItemSKU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemSKU" nillable="true" type="tns:ItemSKU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemSKU" nillable="true" type="tns:ArrayOfItemSKU" />
  <xs:complexType name="ItemSKU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountPer" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SPDiscountPer" type="xs:decimal" />
      <xs:element minOccurs="0" name="SPDiscountRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SPPromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerAdjustFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubOrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalNet" type="xs:decimal" />
      <xs:element minOccurs="0" name="ord_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemSKU" nillable="true" type="tns:ItemSKU" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DutyTax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAcceptMedia" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeChatID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="OrderSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="POSInvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSSessionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleOrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSession" nillable="true" type="tns:OrderSession" />
  <xs:complexType name="ArrayOfOrderSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderSession" nillable="true" type="tns:OrderSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderSession" nillable="true" type="tns:ArrayOfOrderSession" />
</xs:schema>