KP.Online.API/Web References/SaleOrder_WebService/SaleOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.3.0.121:8087/SaleOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.3.0.121:8087/SaleOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.3.0.121:8087/SaleOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KP.Online.BL.ServiceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleOrderService_ValidateAllowSaleOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAllowSaleOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_ValidateAllowSaleOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAllowSaleOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_SaveOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_SaveOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_SaveOrderOnlineJson_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderOnlineJson" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_SaveOrderOnlineJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderOnlineJsonResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_HoleOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:HoleOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_HoleOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoleOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CancelOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CancelOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_VoidOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:VoidOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_VoidOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoidOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CompleteOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CompleteOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetOrderOnlineList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderOnlineList" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetOrderOnlineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderOnlineListResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_UpdateStatusOrderOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusOrderOnline" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_UpdateStatusOrderOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusOrderOnlineResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleOrderService">
    <wsdl:operation name="ValidateAllowSaleOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/ValidateAllowSaleOnline" message="tns:ISaleOrderService_ValidateAllowSaleOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/ValidateAllowSaleOnlineResponse" message="tns:ISaleOrderService_ValidateAllowSaleOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/SaveOrderOnline" message="tns:ISaleOrderService_SaveOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/SaveOrderOnlineResponse" message="tns:ISaleOrderService_SaveOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrderOnlineJson">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/SaveOrderOnlineJson" message="tns:ISaleOrderService_SaveOrderOnlineJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/SaveOrderOnlineJsonResponse" message="tns:ISaleOrderService_SaveOrderOnlineJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoleOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/HoleOrderOnline" message="tns:ISaleOrderService_HoleOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/HoleOrderOnlineResponse" message="tns:ISaleOrderService_HoleOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/CancelOrderOnline" message="tns:ISaleOrderService_CancelOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/CancelOrderOnlineResponse" message="tns:ISaleOrderService_CancelOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoidOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/VoidOrderOnline" message="tns:ISaleOrderService_VoidOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/VoidOrderOnlineResponse" message="tns:ISaleOrderService_VoidOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/CompleteOrderOnline" message="tns:ISaleOrderService_CompleteOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/CompleteOrderOnlineResponse" message="tns:ISaleOrderService_CompleteOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetOrderOnline" message="tns:ISaleOrderService_GetOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetOrderOnlineResponse" message="tns:ISaleOrderService_GetOrderOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderOnlineList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetOrderOnlineList" message="tns:ISaleOrderService_GetOrderOnlineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetOrderOnlineListResponse" message="tns:ISaleOrderService_GetOrderOnlineList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusOrderOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/UpdateStatusOrderOnline" message="tns:ISaleOrderService_UpdateStatusOrderOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/UpdateStatusOrderOnlineResponse" message="tns:ISaleOrderService_UpdateStatusOrderOnline_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleOrderService" type="tns:ISaleOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAllowSaleOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/ValidateAllowSaleOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/SaveOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrderOnlineJson">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/SaveOrderOnlineJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoleOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/HoleOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/CancelOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/VoidOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/CompleteOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderOnlineList">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetOrderOnlineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusOrderOnline">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/UpdateStatusOrderOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleOrderService">
    <wsdl:port name="BasicHttpBinding_ISaleOrderService" binding="tns:BasicHttpBinding_ISaleOrderService">
      <soap:address location="http://10.3.0.121:8087/SaleOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>